<div class="exemple-container" style="margin: 30px;">
  <form [formGroup]="formUpload">
    <div class="row">
    <mat-form-field style="width: 50%;" appearance="legacy">
      <ngx-mat-file-input formControlName="arquivo1" placeholder="Inserir o primeiro arquivo" ></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
    <mat-icon (click) = "enviaArquivo1()">save</mat-icon>
    </div>
    <div class="row">
    <mat-form-field style="width: 50%;" appearance="legacy">
      <ngx-mat-file-input formControlName="arquivo2" placeholder="Inserir o primeiro arquivo" ></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
    <mat-icon (click) = "enviaArquivo2()">save</mat-icon>
    </div>
    <div class="row">
    <mat-form-field style="width: 50%;" appearance="legacy">
      <ngx-mat-file-input formControlName="arquivo3" placeholder="Inserir o primeiro arquivo" ></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
    <mat-icon (click) = "enviaArquivo3()">save</mat-icon>
  </div>
  </form>
</div>
